{{>header}}
{{>navbar}}
{{#if user}}
<form  method="post" class="mx-5">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Name</label>
  <input name="name" type="name" class="form-control" id="exampleFormControlInput1" placeholder="name" value="{{user.name}}">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput2" class="form-label">Email address</label>
  <input name="email" type="email" class="form-control" id="exampleFormControlInput2" placeholder="name@example.com" value="{{user.email}}">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput3" class="form-label">Age</label>
  <input name="age" type="age" class="form-control" id="exampleFormControlInput3" placeholder="30" value="{{user.age}}">
</div>
<div class="mb-3">
  <button type="submit" class="form-control" >Edit User</button>
</div>
</form>
{{else}}
<div>
    User Dosen't Exist
</div>
{{/if}}
{{>footer}}